/*.squareCard
{
font: 72px arial, sans-serif;
    display: inline-block;
    background:black;
    color:white;
    text-align: center;
    margin:5px;
    flex-grow: 1;
    height:100px;
    line-height:100% ;
    width: calc(100% * (1/3) - 10px - 1px);
}*/

.squareCard
{
    background: tomato;
    font: 72px arial, sans-serif;
    /*display: inline-block;*/
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    align-items: center;
    flex: 1 0 25%;
    /*min-width: 1.5em;*/
    /*width: calc(100% * (1/3) - 10px - 1px);*/
}

.squareCard:before {
    content: "";
	display: block;
	padding-top: 100%;
    float: left;
    /*width: calc(100% * (1/3) - 10px - 1px);*/
}

/*.squareCard:after{
content:"";
flex-basis:100%;
}*/
 